<div class="parent">
    <div class="container">
        <!-- Login Form -->
        <div class="form-box login">
            <form>
                <h1>Login</h1>
                <div class="input-box">
                    <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="forgot-link">
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="btn" (click)="onLogin()">Login</button>
                <p>or login with social platforms</p>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-google"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </form>
        </div>

        <!-- Register Form -->
        <div class="form-box register">
            <form>
                <h1>Registration</h1>
                <div class="input-box">
                    <input type="text" [(ngModel)]="user.name" name="userName" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="input-box">
                    <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
                    <i class='bx bxs-envelope'></i>
                </div>
                <div class="input-box">
                    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="input-box">
                    <!-- <label>Select Role:</label> -->
                    <select [(ngModel)]="user.role" name="role">
                        <option [ngValue]="'Admin'">Admin</option>
                        <option [ngValue]="'User'">User</option>
                    </select>
                </div>                
                <button type="submit" class="btn" (click)="onRegister()" [disabled]="loading">
                    {{ loading ? 'Registering...' : 'Register' }}
                    <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2" role="status"></span>
                </button>
                <p>or register with social platforms</p>
                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-google"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </form>
        </div>

        <!-- Toggle Box -->
        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1>Hello, Welcome!</h1>
                <p>Don't have an account?</p>
                <button class="btn register-btn" (click)="toggleRegister()">Register</button>
            </div>

            <div class="toggle-panel toggle-right">
                <h1>Welcome Back!</h1>
                <p>Already have an account?</p>
                <button class="btn login-btn" (click)="toggleLogin()">Login</button>
            </div>
        </div>
    </div>
</div>
