<app-navbar></app-navbar>
<h3 class="text-center pt-2">User Dashboard</h3>
<div class="container pt-3">
    <div class="col-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="text-center">
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                     <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList; let i = index" class="text-center">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <button type="button" class="btn btn-success mx-2" (click)="onUpdateUser(i)">Update</button>
                        <button type="button" class="btn btn-danger " (click)="onDeleteUser(i)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>